
@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400,700&subset=japanese');

body {
	font-family: 'Noto Sans JP', sans-serif;
	font-size:14px;
	color:black;
	line-height:1.7em;
	width: 900px;
	margin:15px auto;
	background-color: #FFF;
	padding: 0.7em;
	font-weight: 300;
}

hr {
	margin-top:15px;
	height: 6px;
	background: url(http://landdd.zashiki.com/img/hr.png) repeat-x 0 0;
	border: 0;}
}

p {
	line-height:1.9em;
}

table {
	border-collapse: collapse;
	font-size: 0.85em;
}
table th,td {
	padding:0 1em;
}

h1 {
	font-size: 250%;
	margin: 10px 0 50px 0;
	padding-top:.5em;
	text-align: center;
	letter-spacing: 5px
	font-weight: 700;
	border-top:4px solid;
}

h2 {
	font-size: 150%;
	margin: 30px 0 10px 0;
	font-weight: 700;
	padding-bottom: 10px;
	border-bottom:1px solid;
}

h3 {
	font-size: 130%;
	margin: 30px 0 10px 0;
	letter-spacing: 1.5px;
	font-weight: 400;
	border-left: 5px solid #a0aba7;
	color:#a0aba7;
	padding:0 0 0 10px;
	line-height:1.1;
}

h4 {
	font-size: 110%;
	padding: 0.4em 0.5em;
	background: #f4f4f4;
	border-left: solid 7px #668ad8;
	border-bottom: solid 1.5px #d7d7d7;
	font-weight: 700;
}

img{
	margin:10px 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

a{ color:#0D47A1; text-decoration:underline; outline:none;}

a:visited { color:#0D47A1; }

a:hover{color:#00ACC1; text-decoration:underline; outline:none;}


/* ブロック要素の装飾 */
p, table, ul, ol, dl, pre, blockquote {
	margin-left: 25px;
	ul, ol, dl {margin-left: 0px;}
}

ul{
    padding-left: 0;
    margin-top: 0;
}

ul li{
	position: relative;
	padding: 0.3em 0;
	padding-left: 1em;
	border-bottom: 0.5px dashed #a0aba7;
}

table {margin:15px auto;;font-size:100%;}
th{border-bottom:1px solid #bbb;padding:.2em 1em;}
td{border-bottom:1px solid #ddd;padding:.2em 1em;}


blockquote p{
	padding:1em 1.5em 1em 3em;
	font-style: italic;
	background: #efefef;
	color: #555;
}

/* クラスの装飾 */
/* テキストの中央揃え */
.margin-clear {
	margin-left: 0;
}

.center {
	text-align: center;
	&:extend(.margin-clear);
}
/* テキストの右寄せ */

.right {
	text-align: right;
	&:extend(.margin-clear);
}

/* ここからカラー用原稿のための設定 */
strong{
	background: linear-gradient(transparent 30%, #ffff66 0%);
}

em{
	font-style: normal;
	color: #ff0066;
	font-weight: bold;
}
