nav {
  flex: 1 1 300px;
  background-color: #111;
  min-width: 240px;
  paddings: 1rem;
  overflow-y: auto;
}
 
 
.active {
  color: yellow;
  font-weight: bold;
}
 
ul {
  list-style: none;
  padding-left: 1.25rem;
}
 
ul li::before {
  content: "\2022";
  color: #fff;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
